export RPC_URL=
export PRIVATE_KEY=
export PROXY_SALT=

# xToken Roles
export ADMIN=
export DENY_LISTER=
export MINTER=
export RECEIVER=

# StakedToken Roles
export ORACLE_OWNER=
export ORACLE_CALLER=

# For test scripts
export ADMIN_PK=
export TEST_ACCOUNT_PK=