export RPC_URL=
export PRIVATE_KEY=

# xToken Roles
export TIMELOCK_CALLER=
export DENY_LISTER=
export MINTER=
export RECEIVER=

# StakedToken Roles
export ORACLE_OWNER=
export ORACLE_CALLER=

# Deterministic Deployment
export SINGLETON_FACTORY=0xFaC897544659Fb136C064d5428947f5BC9cC1Fa2
# keccak256("OKX-xAsset")
export SALT=0xb095a7bde8143c26429f2379a0f248c22acc349dd18e6a98453048128c0cca27

# Test Only
export ADMIN_PK=
export TEST_ACCOUNT_PK=